//* Создаем пустой лист для @for $columns
$columns-value:();
//? Создаем переменную $columns-value формата 1 2 3 4 5 6 7 8 9 10 11 12
@for $i from 1 through $columns {
    $columns-value: join($columns-value, $i);
}
//? Создаем @extend для @mixin col 
@each $col in $columns-value {
    %col-#{$col} {
        flex: 0 0 (100% / ($columns / $col));
        max-width: 100% / ($columns / $col);  
    }
    //? если значение important == true
    %col-#{$col}-important {
        flex: 0 0 (100% / ($columns / $col)) !important;
        max-width: 100% / ($columns / $col) !important;  
    }
}
//? Создаем @extend для @mixin col чтобы можно было работать с @mixin media
@each $breakpoints-value in map-keys($media-breakpoints) {
    @include col-media($breakpoints-value){
        @each $col in $columns-value {
            %col-#{$col}-#{$breakpoints-value} {
                flex: 0 0 (100% / ($columns / $col));
                max-width: 100% / ($columns / $col);  
            }
        }
        //? если значение important == true
        @each $col in $columns-value {
            %col-#{$col}-#{$breakpoints-value}-important {
                flex: 0 0 (100% / ($columns / $col)) !important;
                max-width: 100% / ($columns / $col) !important;  
            }
        }
    }
}