//? Placeholder col-auto 
%col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; 
}
@each $breakpoints-value in map-keys($media-breakpoints) {
    @include col-media($breakpoints-value){
        %col-auto-#{$breakpoints-value} {
            flex: 0 0 auto;
            width: auto;
            max-width: 100%; 
        }
    }
}