//? Placeholder gutters
%gutters {
    padding-left: $gutters-value;
    padding-right: $gutters-value;
}
%gutters-left {
    padding-left: $gutters-value;
}
%gutters-right {
    padding-right: $gutters-value;
}
%no-gutters {
    padding-left: 0;
    padding-right: 0;
}
@each $value in map-keys($media-breakpoints) {
    @include col-media($value){
        %gutters-#{$value} {
            padding-left: $gutters-value;
            padding-right: $gutters-value;
        }
    }
}
@each $value in map-keys($media-breakpoints) {
    @include col-media($value){
        %gutters-left-#{$value} {
            padding-left: $gutters-value;
        }
    }
}
//
@each $value in map-keys($media-breakpoints) {
    @include col-media($value){
        %gutters-right-#{$value} {
            padding-right: $gutters-value;
        }
    }
}
@each $value in map-keys($media-breakpoints) {
    @include col-media($value){
        %no-gutters-#{$value} {
            padding-right: 0;
            padding-left: 0;
        }
    }
}
//* Mixin gutters
@mixin _grid-gutters($value, $media, $extend, $important) { 
    //? Вывод без $media
    @if $value and $media == null and $extend == extend{
        @if $value == gutters{
            @extend %gutters;
        } @else if $value == gutters-left{
            @extend %gutters-left;
        } @else if $value == gutters-right{
            @extend %gutters-right;
        } @else if $value == no-gutters{
            @extend %no-gutters;
        }
    }
    //? Вывод с $media
    @if $value and $media != null and $extend == extend{
        @include col-media($media){
            @if $value == gutters{
                @extend %gutters-#{$media};
            } @else if $value == gutters-left{
                @extend %gutters-left-#{$media};
            } @else if $value == gutters-right{
                @extend %gutters-right-#{$media};
            } @else if $value == no-gutters{
                @extend %no-gutters-#{$media};
            }
        }
    }    
}
// Mixin no-gutters
@mixin _grid-no-extend($media, $gutters, $width ,$important) {
    //? Если значение $extend равно no-extend
    @if $media == null{
        @if $width == width{
            width: 100%;
        }
        @if $gutters == gutters{
            padding-left: $gutters-value;
            padding-right: $gutters-value;
        } @else if $gutters == gutters-left{
            padding-left: $gutters-value;
        } @else if $gutters == gutters-right{
            padding-right: $gutters-value;
        } @else if $gutters == no-gutters{
            padding-right: 0;
            padding-left: 0;
        }
        @content;
    }
    //? Если значение $extend равно no-extend и $media не равно null
    @if $media != null{
        @include col-media($media){
            @if $width == width{
                width: 100%;
            }
            @if $gutters == gutters{
                padding-left: $gutters-value;
                padding-right: $gutters-value;
            } @else if $gutters == gutters-left{
                padding-left: $gutters-value;
            } @else if $gutters == gutters-right{
                padding-right: $gutters-value;
            }
            @content;
        } 
    }
}