//? Конфигурация default значений для mixin col
//* =======================
//* Принимает: auto, 0, $columns
$col-columns: 1;
//* =======================
//* Принимает: null, $media-breakpoints
$col-media: null;
//* =======================
//* Принимает: extend, no-extend
$col-extend: extend;
//* =======================
//* Принимает: gutters, gutters-left, gutters-right, no-gutters
$col-gutters: gutters; 
//* =======================
//* Принимает: width, no-width
$col-width: width;
//* =======================
//* Принимает: true, false
$col-important: false;