@if $_4pt__grid-mode == normal {
    $_local__grid-mode: normal !default !global;
}
@else if $_4pt__grid-mode == fixed {
    $_local__grid-mode: fixed !default !global;
}
@else if $_4pt__grid-mode == hybrid {
    $_local__grid-mode: normal !default !global;
}

@mixin col(
        $value: 1,                      //*    
        $media: null,                   //*        
        $lvl: $_4pt__lvl,               //*            
        $gutters: gutters,              //*            
        $width: width,                  //*      
        $mode: $_local__grid-mode,      //*        
        $grid-type: $_4pt__grid-type,   //*  
        $grid-mode: $_4pt__grid-mode    //*              
    ){
    @if type-of($value) == number {
        // Округляем значения $col
        $value:round($value); 
        //
        @if $value == 0{
            @include _4pt__grid-lvl($lvl, 'col-0', $media,
                $flex-basis: 0,
                $flex-grow: 1,
                $max-width: 100%
            )
        }  
        //
        @else if $value <= $_4pt__columns{   
            @if $grid-mode == normal {
                @include _4pt__grid-lvl($lvl, 'col-#{$value}', $media, 
                    $flex: 0 0 col($value, normal),
                    $max-width: col($value, normal)
                );                
            }
            @else if $grid-mode == fixed{
                @include _4pt__grid-lvl($lvl, 'col-#{$value}', $media, 
                    $flex: 0 0 col($value, fixed, $media),
                    $width: col($value, fixed, $media)
                );   
            }
            @else if $grid-mode == hybrid{
                @if $mode == normal {
                    @include _4pt__grid-lvl($lvl, 'col-#{$value}', $media, 
                        $flex: 0 0 col($value, normal),
                        $max-width: col($value, normal)
                    );                
                }
                @else if $mode == fixed{
                    @include _4pt__grid-lvl($lvl, 'col-#{$value}', $media, 
                        $flex: 0 0 col($value, fixed, $media),
                        $width: col($value, fixed, $media)
                    );   
                }
            }
        }
        //
        @else {
            @warn 'The number of columns cannot exceed #{$_4pt__columns}';
        } 
    } 
    //
    @else if $value == auto {
        @include _4pt__grid-lvl($lvl, 'col-auto', $media,
            $flex: 0 0 auto,
            $width: auto,
            $max-width: 100% 
        )
    }
    @else {
        @warn 'col () only takes values - auto, 0 - #{$_4pt__columns}';
    }
    //! Сбор ошибок
    @if $grid-mode == normal and $mode == fixed {
        @warn '';
    }
    @if $grid-mode == fixed and $mode == normal {
        @warn 'd';
    }
    
}

.test {
    @include col(4);
    color: #000;
}
.test-2 {
    @include col(2, xl, $lvl:2, $mode:fixed);
    color: #000;
}